WORMHOLE_OPENSEARCH_HOST="localhost"
WORMHOLE_OPENSEARCH_USERNAME="admin"
WORMHOLE_OPENSEARCH_PASSWORD="admin"
WORMHOLE_OPENSEARCH_PORT="9200"

# use false for localhost if connecting to a local http instance with no root cert for https keep it true
WORMHOLE_USE_SSL="false"
